/.idea

/app/etc/config.php
/app/etc/env.php

/bak

/var/generation

/app/*.csv
/app/*.xml
/app/code/*/*/i18n
!/app/code/*/*/i18n/*/
/app/design/*/*/*/i18n
/lib/*/i18n
!/lib/*/i18n/*/
/vendor/*/i18n
!/vendor/*/i18n/*/
/vendor/*/*/i18n
!/vendor/*/*/i18n/*/
/pub/static/*
/scripts/*